/* <system section="theme" selected="26006613689426045"> */
/* </system> */

@import url("https://usercss.blog.st-hatena.com/-/theme/26006613689426045.css?version=ab7b726f29e2937b91699ee1eb80187e074e2231");

p{
  margin-bottom: 15px;
  line-height: 30px;
}

iframe{
 border: none;
 margin: 5px;
}

dl{
 margin-bottom: 30px;
}
dd{
  margin-left: 30px;
  margin-bottom: 20px;
}

/*----- スクロール -----*/
html {
 scroll-behavior: smooth;
}

/*----- 記事内の画像に枠線 -----*/
.entry-content img[class*="wp-image-"]{
 border: 1px solid #ddd;
 border-radius: 3px;
}

/*----- 続きを読む -----*/
.entry-see-more{
 display: block;
 text-align: center;
 vertical-align: middle;
 text-decoration: none;
 text-decoration-line: none !important;
 border-radius: 5px;
 width: 120px;
 margin: 0 0 0 auto;
 padding: 1rem 4rem;
 font-size: 1.2em;
 font-weight: bold;
 background: #27acd9;
 color: #fff;
 transition: 0.1s
}
.entry-see-more:hover{
 color: #fff;
 opacity: 0.8;
}

/*----- ブログタイトル -----*/
#blog-title-inner{
 padding: 10px;
 border-radius: 5px;
}

/*----- 見出し -----*/
.entry-content h2{
  padding-bottom: 5px;
  border-bottom: 1px solid #f0f0f0;
}
.entry-content h3{
  padding-left: 12px;
  border-left: 8px solid #f0f0f0;
}

/*----- 目次 -----*/
.entry-content .table-of-contents::before{
  content: "目次";
  display: block;
  margin: 0 0 .8rem;
  padding: 0 0 .4rem;
  border-bottom: 1px solid #ddd;
}
.entry-content .table-of-contents li{
  margin-left: 30px;
}

/*----- コード -----*/
pre.code{
  position: relative;
 border-radius: 5px;
 background-color: #f8f8f8;
 line-height: 22px;
 overflow: overflow-x;
 white-space: pre !important
 text-overflow: clip !important;
}
pre.code[data-lang-label]::before {
  content: attr(data-lang);
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e8e8e8;
  border-radius: 0 0 0 4px;
  padding: 0 7px;
}

/*----- 引用 -----*/
.entry-content blockquote {
 position: relative;
 padding: 3em 1.5em 1em 2em;
 border-radius: 5px;
 border: 1px solid #D1EDF0;
 color: #333333;
 background-color: #F3FAFB;
}
.entry-content blockquote::before {
 display: inline-block;
 position: absolute;
 top: 1em;
 left: 1.5em;
 width: 1.5em;
 height: 1.5em;
 background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%232589d0%22%20d%3D%22M21.8%2012H18V9c0-1.7%201.3-3%203-3h.4c.6%200%201.1-.5%201.1-1.1V2.6c0-.6-.5-1.1-1.1-1.1H21c-4.1%200-7.5%203.4-7.5%207.5v11.2c0%201.2%201%202.2%202.2%202.2h6c1.2%200%202.2-1%202.2-2.2v-6C24%2013%2023%2012%2021.8%2012zM8.2%2012H4.5V9c0-1.7%201.3-3%203-3h.4C8.5%206%209%205.5%209%204.9V2.6c0-.6-.5-1.1-1.1-1.1h-.4C3.4%201.5%200%204.9%200%209v11.2c0%201.2%201%202.2%202.2%202.2h6c1.2%200%202.2-1%202.2-2.2v-6c.1-1.2-.9-2.2-2.2-2.2z%22%2F%3E%3C%2Fsvg%3E');
 background-repeat: no-repeat;
 content: '';
}
.entry-content blockquote p {
 margin-top: 0;
}
.entry-content blockquote cite {
 display: block;
 color: #737373;
 font-size: .8em;
 text-align: right;
}

/*----- リンクボタン -----*/
div.button1 a{
 display: block;
 width: 300px;
 padding: 15px 0;
 margin: 1px auto 10px;  /* 上 左右 下 */
 border-radius: 5px;
 background: #f0f0f0;
 text-align:center;
 text-decoration: none;
}

/*----- コメントボタン -----*/
.leave-comment-title{
 border-radius: 5px;
}

/*----- ブロック -----*/
.ws-navblock{
 margin: 20px 3px;;
}

/*----- アラート -----*/
.ws-alert1{
 background-color: lightpink;
 border: 3px solid pink;
 border-radius: 3px;
 width: 100%;
 padding: 10px;
 margin: 10px 1px;
}

/*----- シリーズ一覧に戻るリンク -----*/
.ws-navblock{
 background-color: #E6FDFF;
 border-radius: 3px;
 padding: 10px;
}
